.nuevo-item {
    width: 400px;
}

@media screen and (max-width: 400px){
    .nuevo-item {
        width: 90%;
    }
}

.tablaFlujos {
    width: 90%;
}


/* moviles */
@media only screen and (max-width: 600px){
    .notmobil {
        display: none;
    }
}
/* desktop */
@media only screen and (min-width: 600px){
    .notdesktop{
      display: none;
    }
}

.btn-xfiltro{
  background: transparent;
  background-color: none;
  border: none;
  color: #dc3545;
}
.btn-xfiltro:hover{
  text-decoration: underline;

}
.fechas{
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  color: #212529;
  border: 1px solid #ced4da;
  background-color: white;
  border-radius: .25rem;
}
.fechas:focus{
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%)
}
.positionDescripcion{
  background-color: rgba(0,0,0,0.1);
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  top: 600px;
  padding: 10px
}

.btn-margin{
  margin-top: 5px;
  margin-bottom: 10px;
}

.static-bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  bottom: 0;
  box-shadow: -10px -5px 10px rgba(0,0,0,0.2);
}
.static-hbottom{
  border-top: solid #6497B1 2px;
  height: 10px;
  background-color: rgba(20,20,200,0.2);
}

.bottom-div{
  padding: 10px 10px 10px 10px;
}
#idHeader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(200,200,200,0.2);
}
body{
  margin-top: 60px;
  margin-bottom: 80px;
}
