<%- include('../partials/header') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5">
      <div align='center'>
        <h2  class="color-rojo" style="text-align: center;">Nuevo Gasto</h2>
        <form class="form-group nuevo-item" action="/gastos/nGasto" method="POST">
          <input  class="form-control" id="nombreGasto" name="nombreGasto" type="text" placeholder="Nuevo gasto">
          <input  class="form-control" id="valorGasto" name="valorGasto" type="number" placeholder="Cantidad">
          <input name="fecha" type="date">
          <button  class="btn btn-primary" type="submit" name="bGasto">Ingresar</button>
        </form>
        </div>
    </div>
    <div class="col-lg-7">
      <h3 style="text-align: center;">Tabla de Gastos</h3>
      <%- include('../partials/components/gastos') %>
    </div>
  </div>
</div>










<%- include('../partials/footer') %>
