<table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
        <% listGastos.forEach(function(gasto){ %>
          <tr>
        <th scope="row"><%=gasto.fecha%></th>
        <td><%=gasto.nombre%></td>
          <td>$<%=Number(gasto.valor).toLocaleString('de-DE')%></td>
        <% }); %>
      </tr>
    </tbody>
  </table>