<table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
        <% listGastos.forEach(function(gasto){ %>
          <tr>
        <th scope="row"><%=gasto.fecha%></th>
        <td><%=gasto.nombre%></td>
          <td>$<%=Number(gasto.valor).toLocaleString('de-DE')%></td>
          <td>
            <form method="POST" action="/gastos/delete">
              <button id="buttonjeje" class="btn btn-dark"type="submit" name='id' value=<%= gasto.id %> >Eliminar</button>
            </form>
          </td>
        <% }); %>

      </tr>
    </tbody>
  </table>