<table class="table">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
      <% listIngresos.forEach(function(ingreso){ %>
        <tr>
      <th scope="row"><%=ingreso.nombre%></th>
        <td>$<%=Number(ingreso.valor).toLocaleString('de-DE')%></td>
        <td><%=ingreso.fecha%></td>
      </tr>
      <% }); %>
  </tbody>
</table>